<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
  <title>My Little Lotto: {{post.title}}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <div class="page-header">
  <h1>My Lotto Page: {{post.title}}</h1>
  </div>
  <div class="container">
    <p> last update: {{post.update_date}} </p>
    <p> {{post.bonus}} </p>
    <p> {{post.text}} </p>
    <p><a href="{% url 'lotto_index' %}">Back to Main</p>
  </div>  
</body>
</html>
